package pages

import (
	"github.com/templui/templui/components/alert"
	"github.com/templui/templui/components/icon"
	"northstar/features/common/components"
	"northstar/features/common/layouts"
	"northstar/web/resources"
)

templ SortablePage() {
	@layouts.Base("Sortable") {
		@components.Navigation(components.PageSortable)
		<article class="mx-auto pt-2 flex flex-col gap-2">
			@alert.Alert(alert.Props{
				Variant: alert.VariantDestructive,
			}) {
				@icon.TriangleAlert()
				@alert.Title() {
					This example uses <a class="link" href="https://lit.dev/">lit</a> and <a class="link" href="https://github.com/SortableJS/Sortable">SortableJS</a>
				}
				@alert.Description() {
					<div>
						You will need to download both libraries before this example will work. Check out this <a class="link" href="https://github.com/zangster300/northstar/blob/main/web/libs/lit/README.md">README</a> to learn more.
					</div>
				}
			}
			<sortable-example
				data-signals="{title: 'Item Info', info:'', items: [{name: `item one`}, {name: `item two`}, {name: `item three`}, {name: `item four`}, {name: `item five`}]}"
				data-attr:title="$title"
				data-attr:value="$info"
				data-attr:items="JSON.stringify($items)"
				data-on:change="event.detail && console.log(`Send this data somewhere else! ${event.detail}`)"
			></sortable-example>
			<script type="module" src={ resources.StaticPath("libs/sortable-example.js") }></script>
		</article>
	}
}
