package components

import "github.com/templui/templui/components/icon"

type page int

const (
	PageIndex page = iota
	PageCounter
	PageMonitor
	PageReverse
	PageSortable
)

templ Navigation(page page) {
	<nav class="py-1">
		<div class="relative flex items-center justify-between px-6">
			<div class="flex items-center">
				<a href="/" class="flex items-center gap-1.5">
					@icon.ToggleLeft(icon.Props{Class: "h-6 w-6"})
					<span class="text-xl">North<span class="font-bold">star</span></span>
				</a>
			</div>
			<div class="flex flex-col md:flex-row justify-center gap-4">
				<div class={ "hover:text-primary", templ.KV("text-primary", page == PageIndex) }><a href="/">TODO</a></div>
				<div class={ "hover:text-primary", templ.KV("text-primary", page == PageCounter) }><a href="/counter">Counter</a></div>
				<div class={ "hover:text-primary", templ.KV("text-primary", page == PageMonitor) }><a href="/monitor">System Monitoring</a></div>
				<div class={ "hover:text-primary", templ.KV("text-primary", page == PageReverse) }><a href="/reverse">Reverse</a></div>
				<div class={ "hover:text-primary", templ.KV("text-primary", page == PageSortable) }><a href="/sortable">Sortable</a></div>
			</div>
			<div class="flex items-center justify-center gap-1">
				@ThemeSwitcher()
			</div>
		</div>
	</nav>
}
